---
layout: default
title: "Blog about software development & design - Kirk M. @saricden"
permalink: /blog/
isBlog: true
---
<div class="contentbox">
  <header class="page">
    <h1>
      Kirk M. <span class="handle">@saricden</span>'s blog about
      <span class="primary stretch"><span class="text-fade">&lt;</span><span>S</span><span>o</span><span>f</span><span>t</span><span>w</span><span>a</span><span>r</span><span>e</span><span class="text-fade">/&gt;</span></span>
      <span class="secondary">Development & Design</span>
    </h1>
  </header>

  <main class="primary nopad">
    {% for post in site.categories.blog %}
      <article class="snippet">
        <a href="{{ post.url }}"><i class="post-icon {{ post.icon }}"></i></a>
        <div>
          <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
          <time datetime="{{ post.date }}">Posted on {{ post.date | date: '%B %d, %Y' }}</time>
          {% for tag in post.tags %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
          <p>{{ post.content | strip_html | truncatewords:30 }}</p>
          <div class="action-btns">
            <a href="{{ post.url }}" class="btn">Read More</a>
            <a data-share-href="{{ post.url }}" data-share-title="{{ post.title }}" data-share-text="{{ post.content | strip_html | truncatewords: 30 }}"  class="btn link"><i class="fa fa-share-square"></i> Share Article</a>
          </div>
        </div>
      </article>
      <hr class="skinny" />
    {% endfor %}
  </main>
</div>