---
layout: default
title: Projects - saricDen
permalink: /projects/
---
<header class="banner">
  <h1>Projects</h1>
  <p>The stuff I've worked on.</p>
</header>

<main class="contentbox">
  <div class="clearfix">
    <h2>Websites</h2>
    {% for post in site.categories.websites %}
      <div class="website">
        <a href="{{ post.url }}">
          <img src="{{ post.listImg }}" alt>
          <span>{{ post.title }}</span>
        </a>
      </div>
    {% endfor %}
  </div>

  <hr>
  
  <div class="clearfix">
    <h2>Games</h2>
    {% for post in site.categories.games %}
      <div class="game">
        <a href="{{ post.url }}">
          <img src="{{ post.icon }}" alt>
          <span>{{ post.title }}</span>
        </a>
      </div>
    {% endfor %}
  </div>
</main>