{% assign pages = site.pages | sort: "navOrder" %}
<nav class="global clr">
  <a class="logo" href="/"><img src="/src/img/logo.svg"></a>
  {% for page in pages %}
    {% if page.title and page.navOrder and page.title != "Home" %}
      <a class="page-link" href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
  <a class="mobile-nav"><img src="/src/img/hamburger.svg"></a>
  <a class="search"><img src="/src/img/search.svg"></a>

  <div class="test-menu"></div>
</nav>

<div class="search-panel">
  <ul class="results">

  </ul>
  <input type="text" placeholder="Enter what it is you're looking for..." value="" autocomplete="off">
</div>

<!-- close btn for search & nav overlays -->
<a class="x"><img src="/src/img/x.svg"></a>