/* General
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
}
html, body {
    height: 100%;
    background-color: #5C3A0A;
    font-size: 14px;
    overflow: hidden;
}
nav {
    position: relative;
    z-index: 2;
    width: 200px;
    height: 100%;
    float: left;
    color: #FFF;
    background-color: #7A7;
    letter-spacing: 1px;
    overflow: hidden;
    box-shadow: 0 0 15px 0px #333 inset;
}
.open { margin: 0 !important; }
main {
    height: 100%;
}
main section {
    position: relative;
    z-index: 1;
    min-height: 350px;
    padding-top: 12px;
    background-color: #FFF;
    overflow: hidden;
}
h1, nav h2 {
    font-weight: normal;
}
h1 {
    padding: 15px 0;
    text-align: center;
    font-size: 3.93em;
    font-family: 'Cabin Sketch', sans-serif;
}
p {
    width: 100%;
    text-align: center;
}
nav h2 {
    padding: 15px 30px;
    color: #FFF;
    background: #585 url(../img/small-logo.png) no-repeat 5px center;
    font-size: 1em;
    box-shadow: 0 5px 15px 0px #333 inset;
}
nav ul li a {
    display: block;
    padding: 15px 0;
    padding-right: 9px;
    border-top: solid 1px #585;
    border-right: solid 1px #585;
    text-align: right;
    text-decoration: none;
}
nav ul li:last-child a {
    border-bottom: solid 1px #585;
}
nav ul li.active a {
    border-top-color: transparent;
    border-right-color: #FFF;
    color: #585;
    background-color: #FFF;
}

nav ul li.active + li a {
    border-top-color: transparent;
}

#nav-btn {
    display: none;
    position: absolute;
    z-index: 3;
    width: 30px;
    top: 0;
    left: 0;
    padding: 8px;
    background-color: #585;
    background-color: rgba(85, 136, 85, 0.75);
    cursor: pointer;
}

#nav-btn span {
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 8px;
    background-color: #FFF;
}
#nav-btn span:last-child { margin: 0; }
.hide { display: none !important; }


/* Home
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.sprite-me {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}


/* Queries
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 650px) {
    nav { margin-left: -200px; }
    #nav-btn { display: block; }
}


/* Animation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav, main { transition: margin 0.5s; }