/* Base styles
-------------------------------- */
html, body {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 51px;
}
h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1em;
}
h1 {
  font-size: 46px;
}
a {
  color: blue;
  text-decoration: none;
  font-family: sans-serif;
}
a:hover {
  text-decoration: underline;
}

/* General reusable
-------------------------------- */
.clr:after {
  display: block;
  content: "";
  clear: both;
}
.vc-container {
  display: table;
}
.vc-content {
  display: table-cell;
  vertical-align: middle;
}
.btn {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  margin: 10px;
  padding: 10px 25px;
  border: solid 1px blue;
  border-radius: 3px;
  background-color: transparent;
}
.textcenter {
  text-align: center;
}
nav.global {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  border-bottom: solid 1px #CCC;
  color: #000;
  background-color: #FFF;
}
nav.global a, a.x {
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 18px;
  color: #000;
}
nav.global a.search, nav.global a.mobile-nav {
  float: right;
  cursor: pointer;
}
nav.global a.mobile-nav, a.x {
  display: none;
}
nav.global img, a.x img {
  vertical-align: middle;
}

/* Search results
-------------------------------- */
.results {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  list-style: none;
}
.results li, .results li a {
  display: block;
}
.results li {
  box-sizing: border-box;
  margin-top: 20px;
}
.results li a {
  margin-bottom: 10px;
  font-size: 18px;
}


/* Fake ad variants (temp)
-------------------------------- */
.mockad {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
  background-color: #EEE;
  text-align: center;
}
.mockad.sm {
  max-width: 250px;
  height: 90px;
  line-height: 90px;
}

/* Homepage variants
-------------------------------- */
.hm-title, .hm-latest {
  float: left;
  width: 50%;
  height: calc(100vh - 51px);
  box-sizing: border-box;
  padding: 10px;
}
.hm-title {
  background: #EEE;
}
.hm-title h1 {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  text-align: right;
  line-height: 1.5em;
}
.hm-latest {
  background-color: #FFF;
}
.hm-latest h2, .hm-latest p, .hm-latest label {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 10px auto;
}
.hm-latest p {
  text-align: justify;
  line-height: 1.5em;
}

.test-menu, .search-panel {
  width: 0;
  height: 0;
  border-bottom-left-radius: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;

  transition: border-bottom-left-radius 0.6s, width 0.2s, height 0.4s;
}

.test-menu.open, .search-panel.open {
  width: 100%;
  height: 100%;
  border-radius: 0;
  opacity: 1;
}

.search-panel input {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5px 10px;
  border: 0;
  border-bottom: solid 2px #AAA;
  outline: none;
  font-size: 18px;

  visibility: hidden;
  opacity: 0;
}

.search-panel.open input {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.6s, opacity 0.6s;
  transition-delay: 0.6s;
}

/* messy, to be cleaned.. */
a.x {
  opacity: 0;
  visibility: hidden;
  position: fixed;
}

nav.global a.page-link.open, a.open.x {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  left: 0;
  width: 100%;
  font-size: 22px;
  text-align: center;

  transition: opacity 0.6s, visibility 0.6s;
}

a.open.x {
  display: block;
  width: 30px;
  top: 0;
  left: auto;
  right: 15px;
  background-color: #FFF;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .btn {
    width: auto;
    max-width: none;
  }

  nav.global {
    padding: 0;
  }

  .hm-title, .hm-latest {
    float: none;
    clear: both;
    width: 100%;
    height: calc(40vh - 51px);
  }
  .hm-latest {
    height: auto;
  }
  .hm-title h1 {
    max-width: none;
    margin: 0;
    font-size: 24px;
    text-align: center;
  }

  a.open.x {
    right: 0;
  }
}

@media only screen and (max-width: 550px) {
  nav.global a {
    display: none;
  }
  nav.global a.logo, nav.global a.search, nav.global a.mobile-nav, nav.global a.page-link {
    display: block;
  }
  nav.global a.page-link, a.x {
    opacity: 0;
    visibility: hidden;
    position: fixed;
  }
}