html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background-color: #FFFF5A;
}

h1 {
  font-family: 'Indie Flower', cursive;
}

h1 span {
  color: rgba(0, 0, 0, 0.8);
}

a {
  color: #000;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

input, textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 5px;
  border: solid 1px #CCC;
  border-radius: 3px;
  box-shadow: -1px 1px 1px #DDD inset;
  outline: none;
}

textarea {
  resize: vertical;
}

button {
  box-sizing: border-box;
  padding: 5px;
  border: solid 1px #CCC;
  border-radius: 3px;
  background-color: #FFF;
  cursor: pointer;
  outline: none;
}

button.link {
  border-color: transparent;
  background-color: transparent;
}

form.disabled input,
form.disabled textarea,
form.disabled button {
  color: #333;
  background-color: #CCC;
}

label {
  display: block;
}

.profile h1 {
  margin: 0;
}

.profile h2, p, label {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

img.profile-pic {
  width: 120px;
}

.profile ul {
  list-style: none;
  margin-top: 13px;
  margin-bottom: 0;
  padding: 0;
}

.profile ul li {
  display: inline-block;
  margin: 0 5px;
}

.profile ul li a {
  font-size: 20px;
  color: #000;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.centerblock {
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
}

.textcenter {
  text-align: center;
}

.pagecenter {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.multi-blockimg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.multi-blockimg > div {
  min-width: 0;
  margin: 22px 11px;
}

div.multi-blockimg > div:first-of-type {
  margin-left: 0;
}
div.multi-blockimg > div:last-of-type {
  margin-right: 0;
}

div.multi-blockimg > div > img {
  display: block;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 5px;
  border: solid 3px #000;
}

img.blockimg {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 22px;
  padding: 5px;
  border: solid 3px #000;
}

img.blockimg.topmar {
  margin-top: 22px;
}

span.mini-title {
  color: #FFFF5A;
  background-color: #000;
  padding: 2px;
}

div.centerbtn-lg {
  margin-top: 22px;
  text-align: center;
}
div.centerbtn-lg a, div.centerbtn-lg button {
  display: inline-block;
  min-width: 200px;
  padding: 10px;
  border: solid 3px #000;
  font-weight: 600;
  text-decoration: none;
}

ul.scroll-gallery {
  list-style: none;
  padding: 0;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

ul.scroll-gallery li {
  box-sizing: border-box;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

ul.scroll-gallery li img {
  display: inline-block;
  height: 100px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal > div {
  background-color: #FFF;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 15px #000;

  transform: scale(0.8);
  transition: transform 0.3s;
}
.modal.open > div {
  transform: scale(1);
}

.modal > div h1 {
  margin-top: 0;
}

#swf-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#swf-container a {
  margin-top: 22px;
}

@media only screen and (max-width: 450px) {
  .profile {
    flex-direction: column-reverse;
    text-align: center;
  }
  .profile h1 {
    margin-top: 22px;
  }
}