:root {
  font-size: 18px;
}

em {
  font-style: normal;
}

strong {
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 0.6rem;
  text-decoration: underline;
  text-transform: uppercase;
  text-shadow: 0 0 10px #FFF;
}

p {
  margin: 0;
}
p.box-sm {
  max-width: 36rem;
  text-align: justify;
}
p.lead {
  padding-left: 20px;
  margin-left: 20px;
  border-left: solid 3px rgba(0, 0, 0, 0.25);
  line-height: 2em;
}

a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.25rem 0.5rem;
  color: inherit;
}
a.btn {
  padding: 0.75rem 1.5rem;
  border: solid 1px;
  border-radius: 0.5rem;
}
* + a.btn {
  margin-top: 2rem;
}

i.lead {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.centerblock,
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.centerblock.full {
  height: 100%;
}

.inner {
  width: 100%;
  min-height: calc(100vh - 4rem);
  max-width: 1000px;
  margin: 0 auto;
}

header.mantra {
  width: 100%;
  min-height: 100vh;
  background: url(/src/img/new-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

header.mantra .tint {
  background-color: rgba(0, 0, 0, 0.65);
  color: #FEF24E;
  box-sizing: border-box;
  padding: 2rem;
}

header.mantra h1 {
  font-size: 4rem;
  /* font-size: calc(20vmin - 4rem); */
  /* font-size: calc(3rem - 0.5vw); */
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 0.6rem;
  line-height: 1em;
  text-align: left;
  margin-bottom: 4rem;
  margin-top: auto;
}

header.mantra h1 em {
  color: #FFF;
}

header.mantra button.circle {
  margin-top: auto;
  background-color: transparent;
  color: #FFF;
  border: solid 2px #FFF;
  font-size: 1.25rem;
  border-radius: 100%;
  padding: 0;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  outline: none;
  cursor: pointer;
}

@media (max-width: 615px) {
  header.mantra h1 {
    font-size: 2.5rem;
  }
  header.mantra button.primary {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  header.mantra h1 {
    font-size: 1.5rem;
  }
  header.mantra button.primary {
    font-size: 0.75rem;
  }
}

.panel {
  padding: 4rem;
}

.panel.dark {
  background-color: #000;
  color: #FEF24E;
}

.panel.what {
  padding-top: 0;
}

.panel.what .col {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.panel.what .col i {
  font-size: 2rem;
}

.panel.what p {
  width: 100%;
  text-align: justify;
  font-size: 1.25rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
}

.panel.what p em {
  text-decoration: underline;
  font-size: 1.75rem;
}

.panel.what p strong {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 2rem;
  background-color: #000;
  color: #FEF24E;
  margin: 1rem 0;
  padding: 0 0.75rem;
}

.col-game {
  width: 100%;
  max-width: 850px;
  margin: 2rem auto;
  margin-bottom: 0;
}

.game-box {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.15);
  padding-top: 0.75rem;
}
.game-box iframe {
  display: block;
  width: calc(100% - 1.5rem);
  height: 400px;
  box-sizing: border-box;
  margin: 0.75rem;
  margin-top: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.85);
}

.game-box header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  height: 4rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
}

.game-box header > div {
  width: auto;
}

.game-box header .version {
  font-size: 1rem;
  padding: 0.15rem 0.35rem;
  border: solid 1px #000;
  vertical-align: middle;

}

.game-box header button {
  padding: 0 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  border: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: #FEF24E;
  border-radius: 1.25rem;
  cursor: pointer;
}

.game-box header button i {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}

.stat-cols {
  margin: 2rem auto 0 auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.stat-cols > div {
  text-align: center;
}

.stat-cols > div strong {
  font-size: 4rem;
}

.btn-col {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.cta {
  background-color: transparent;
  border: solid 2px #000;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  outline: none;
  cursor: pointer;
}

.panel.video .centerblock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.panel.video .centerblock .col {
  width: 50%;
  padding: 2rem;
}

header.freedom-to {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1rem;
}
header.freedom-to h1 {
  margin: 0;
  font-size: 2em;
}

.rowlist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

.rowlist li {
  width: calc(33% - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 20rem;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #000;
}

.rowlist li i {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.rowlist li header {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
}

.btn-cta {
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #FFF;
  font-weight: 600;
  font-size: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rowlist li p {
  text-align: justify;
}

.color-twitch {
  color: #6441A4;
}
.bgcolor-twitch {
  background-color: #6441A4;
}
.color-kofi {
  color: #FF5F5F;
}
.bgcolor-kofi {
  background-color: #FF5F5F;
}
.color-discord {
  color: #7289dA;
}
.bgcolor-discord {
  background-color: #7289dA;
}

.btn-cta {
  /* margin-top: auto; */
}

@media (max-width: 975px) {
  .panel.video .centerblock .col {
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .panel.video .centerblock {
    flex-direction: column-reverse;
  }
  header.freedom-to {
    justify-content: center;
  }
  p.lead {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
    text-align: center;
  }
}

@media (max-width: 1225px) {
  header.freedom-to {
    font-size: 0.75rem;
  }
  p.lead {
    font-size: 0.85rem;
  }
}

div.freedom-ticker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding: 0;
  border: solid 5px transparent;
  overflow: hidden;
  height: 3.111111111rem;
}

div.freedom-ticker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding: 0;
  border: solid 5px transparent;
  overflow: hidden;
  height: 3.111111111rem;
}

div.freedom-ticker span {
  font-size: 2.222222222rem;
  height: 2.222222222rem;
  line-height: 2.222222222rem;
}

div.freedom-ticker ul {
  margin: 0 1.111111111rem;
  padding: 0;
  list-style: none;

  transition: transform 0.75s;
}

div.freedom-ticker ul li {
  font-size: 1.777777778rem;
  line-height: 2.222222222rem;
  text-align: center;
}

.fluid-video {
  width: 100%;
  height: 0;
  padding: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.fluid-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center-self {
  margin: 2rem auto;
  margin-bottom: 1rem;
}

.badge {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2.5rem !important;
  background-color: rgba(0, 0, 0, 0.85);
  border: dotted 2px #FEF24E;
  color: #FEF24E;
  text-align: center;
  border-radius: 100%;
}

.extra-spacing {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.author {
  font-size: 1.25rem;
  text-align: right;
}

.twitch-countdown {
  width: 100%;
  max-width: 30rem;
}

.twitch-countdown header {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.twitch-countdown .countdown {
  border: solid 3px #000;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.twitch-countdown em {
  font-size: 2rem;
}

.btn.btn-lg {
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.panel.how {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65)),
    url('https://images.unsplash.com/photo-1516251193007-45ef944ab0c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
