:root {
  font-size: 18px;
}

em {
  font-style: normal;
}

strong {
  font-weight: normal;
}

p {
  margin: 0;
}

.centerblock,
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.centerblock.full {
  height: 100%;
}

.inner {
  width: 100%;
  min-height: calc(100vh - 4rem);
  max-width: 1000px;
  margin: 0 auto;
}

header.mantra {
  width: 100%;
  min-height: 100vh;
  background: url(/src/img/new-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

header.mantra .tint {
  background-color: rgba(0, 0, 0, 0.65);
  color: #FEF24E;
  box-sizing: border-box;
  padding: 2rem;
}

header.mantra h1 {
  font-size: 4rem;
  /* font-size: calc(20vmin - 4rem); */
  /* font-size: calc(3rem - 0.5vw); */
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 0.6rem;
  line-height: 1em;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
  text-shadow: 0 0 10px #FFF;
  margin-bottom: 4rem;
  margin-top: auto;
}

header.mantra h1 em {
  color: #FFF;
}

header.mantra button.circle {
  margin-top: auto;
  background-color: transparent;
  color: #FFF;
  border: solid 2px #FFF;
  font-size: 1.25rem;
  border-radius: 100%;
  padding: 0;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  outline: none;
  cursor: pointer;
}

@media (max-width: 615px) {
  header.mantra h1 {
    font-size: 2.5rem;
  }
  header.mantra button.primary {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  header.mantra h1 {
    font-size: 1.5rem;
  }
  header.mantra button.primary {
    font-size: 0.75rem;
  }
}

.panel {
  padding: 4rem;
}

.panel.what {
  padding-top: 0;
}

.panel.what .col {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.panel.what .col i {
  font-size: 2rem;
}

.panel.what p {
  width: 100%;
  text-align: justify;
  font-size: 1.25rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
}

.panel.what p em {
  text-decoration: underline;
  font-size: 1.75rem;
}

.panel.what p strong {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 2rem;
  background-color: #000;
  color: #FEF24E;
  margin: 1rem 0;
}

.col-game {
  width: 100%;
  max-width: 850px;
  margin: 2rem auto;
  margin-bottom: 0;
}

.game-box {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.15);
  padding-top: 0.75rem;
}
.game-box iframe {
  display: block;
  width: calc(100% - 1.5rem);
  height: 400px;
  box-sizing: border-box;
  margin: 0.75rem;
  margin-top: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.85);
}

.game-box header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  height: 4rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
}

.game-box header > div {
  width: auto;
}

.game-box header .version {
  font-size: 1rem;
  padding: 0.15rem 0.35rem;
  border: solid 1px #000;
  vertical-align: middle;
  
}

.game-box header button {
  padding: 0 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  border: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: #FEF24E;
  border-radius: 1.25rem;
  cursor: pointer;
}

.game-box header button i {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}

.stat-cols {
  margin: 2rem auto 0 auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.stat-cols > div {
  text-align: center;
}

.stat-cols > div strong {
  font-size: 4rem;
}

.btn-col {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.cta {
  background-color: transparent;
  border: solid 2px #000;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  outline: none;
  cursor: pointer;
}

.panel.video .centerblock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.panel.video .centerblock .col {
  width: 50%;
  padding: 2rem;
}

header.freedom-to {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

div.freedom-ticker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding: 0;
  border: solid 5px transparent;
  overflow: hidden;
  height: 56px;
}

div.freedom-ticker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding: 0;
  border: solid 5px transparent;
  overflow: hidden;
  height: 56px;
}

div.freedom-ticker span {
  font-size: 40px;
  height: 40px;
  line-height: 40px;
}

div.freedom-ticker ul {
  margin: 0 20px;
  padding: 0;
  list-style: none;

  transition: transform 0.75s;
}

div.freedom-ticker ul li {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

p.lead {
  padding-left: 20px;
  margin-left: 20px;
  border-left: solid 3px rgba(0, 0, 0, 0.25);
  line-height: 2em;
}

.fluid-video {
  width: 100%;
  height: 0;
  padding: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.fluid-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center-self {
  margin: 2rem auto;
  margin-bottom: 1rem;
}

.badge {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2.5rem !important;
  background-color: rgba(0, 0, 0, 0.85);
  border: dotted 2px #FEF24E;
  color: #FEF24E;
  text-align: center;
  border-radius: 100%;
}

.extra-spacing {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.panel.patronage {
  background-color: #000;
  color: #FEF24E;
}

.panel.patronage h1 {
  text-align: center;
}

.panel.patronage .col.blurb {
  max-width: 38rem;
  padding: 2rem;
}
.panel.patronage .col.blurb:after {
  display: block;
  content: "";
  clear: both;
}

.panel.patronage .col.blurb img {
  border-radius: 100%;
  float: left;
  margin: 1rem;
}

.panel.patronage .col.blurb p {
  font-size: 0.9rem;
  line-height: 2rem;
}

.author {
  font-size: 1.25rem;
  text-align: right;
}

.patron-tiers {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.patron-tiers .col {
  width: 22%;
  border: solid 1px #FEF24E;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0.5rem;
}

.patron-tiers .col header {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-bottom: solid 1px #FEF24E;
  text-align: center;
  font-size: 1.25rem;
}

.patron-tiers .col ul {
  margin: 0;
  margin-bottom: auto;
  padding: 1rem 1rem 2rem 2rem;
  font-size: 0.9rem;
}

.patron-tiers .col ul li {
  margin-bottom: 0.75rem;
}

.patron-tiers .col .price {
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
}

.patron-tiers .col .price strong {
  font-size: 2rem;
  display: block;
}

.patron-tiers .col .btn {
  display: block;
  margin: 1rem auto;
  width: calc(100% - 2rem);
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background-color: #FEF24E;
  color: #000;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}