---
layout: wrap
---
<header class="li-title">
  <h1>{{ page.title }}</h1>
</header>

<div class="centerblock clr">

  <aside class="col four li-aside ad revfl">
    {% if page.adModules %}
      {% for mod in page.adModules %}
        {% include aside_modules/{{ mod }}.html %}
      {% endfor %}
    {% endif %}
  </aside>
  
  <div class="col eight li-list">
    <article>
      {{ content }}
    </article>
    <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'saricden';
          
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>

  <aside class="col four li-aside revfl">
    {% if page.asideModules %}
      {% for mod in page.asideModules %}
        {% include aside_modules/{{ mod }}.html %}
      {% endfor %}
    {% endif %}
  </aside>
</div>