<!doctype html>
<html lang="en">
<head>
  <title>Functional Fiasco. A blog about being angry at computers, mostly.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/src/css/blog.css">
</head>
<body>
  <header class="container-fluid">
    <div class="row text-center">
      <div class="col-md-4">
        <a href="/blog/">
          <img src="" alt="Functional Fiasco">
        </a>
      </div>
      <div class="col-md-4">
        <strong>Get emails!</strong><br>
        <input type="text" placeholder="you@yourcooldomain.com"><br>
        <a class="btn btn-primary">Subscribe</a>
      </div>
      <div class="col-md-4">
        <strong>An Ad by <a href>cool ad ppl</a></strong><br>
        (ad here)
      </div>
    </div>
  </header>
  <main role="main" class="page">
    
  </main>
</body>
</html>