---
layout: default
---
<header class="page">
  <div>
    <h1>
      <a href="/projects/">
        <span class="primary stretch">
          <span class="text-fade"><i class="fa fa-flask"></i></span><span>P</span><span>r</span><span>o</span><span>j</span><span>e</span><span>c</span><span>t</span>
          <span class="text-fade handle">
            G13
          </span>
        </span>
        <span class="secondary">
          {{ page.title }}
        </span>
      </a>
    </h1>
  </div>
</header>

<div class="contentbox">
  <main class="primary">
    <article class="primary">
      <hr class="skinny" />
      <div class="text-center">
        {% for tag in page.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>

      {{ content }}
    </article>
  </main>

</div>