<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/src/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>

  <body>
    <noscript>
      This website requires JavaScript to work. Please enable JavaScript or update your browser/computer.
    </noscript>

    <nav>
      <h1><a href="/">{saricDen} <small>Kirk's Website</small></a></h1>
      <button id="openNavBtn" class="navbtn">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul id="navMenu">
        <li>
          <button id="closeNavBtn" class="closebtn">
            <span></span>
            <span></span>
          </button>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="">Contact</a></li>
      </ul>
      <div id="overlay"></div>
    </nav>

    {{ content }}

    <script type="text/javascript" src="/src/js/main.js"></script>
  </body>

</html>
