<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/src/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>

  <body>
    <header class="site-title">
      <div class="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <div class="title">
        <div>The projects of</div>
        <h1>
          Kirk M.
          <small>@saricDen</small>
        </h1>
      </div>
    </header>
    <main class="content">
      <div class="side-column">
        <img src="http://m.c.lnkd.licdn.com/media/p/2/005/06f/000/1083da2.jpg" alt="Kirk M. (@saricDen)">
        <a href>(email)</a>
        <a href>(phone)</a>
        <a href>@saricden</a>
        <a href>Linkedin</a>
        <div class="mobile-close">
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
      <div class="boxlist">
        {{ content }}
      </div>
    </main>

    <div class="overlay"></div>

    <script type="text/javascript" src="/src/js/main.js"></script>
  </body>

</html>
