<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="apple-touch-icon" sizes="57x57" href="/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#FEF24E">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#FEF24E">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400+600" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/src/css/main.css" | prepend: site.baseurl }}">
    {% if page.isQuiz %}
      <link rel="stylesheet" href="{{ "/src/css/quiz.css" | prepend: site.baseurl }}">
    {% endif %}
    {% if page.isHome %}
      <link rel="stylesheet" href="{{ "/src/css/home.css" | prepend: site.baseurl }}">
    {% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>

  <body>
    <noscript>
      This website requires JavaScript to work. Please enable JavaScript or update your browser/computer.
    </noscript>

    <nav class="bar">
      <header class="logo">
        <button>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="point"></span>
        </button>
        <h1>&nbsp;~/&nbsp;Kirk M. <span class="handle">@saricden</span></h1>
      </header>

      <button class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>

    <nav class="primary">
      <img src="/src/img/me.svg" alt="Kirk" />
      <header>Kirk M. <span class="handle">@saricden</span></header>
      <a href="/"{% if page.isHome %} class="active"{% endif %}>
        <i class="fa fa-home"></i>
        Home
      </a>
      <a href="/blog"{% if page.isBlog %} class="active"{% endif %}>
        <i class="fa fa-pen"></i>
        Blog
      </a>
      <a href="/projects"{% if page.isProjects %} class="active"{% endif %}>
        <i class="fa fa-flask"></i>  
        Projects
      </a>
      <a href="/sneakyconnect" id="connectLink">
        <i class="fa fa-share-alt"></i> 
        Connect
      </a>
    </nav>

    <nav class="social">
      <header>Connect with Kirk M. <span class="handle">@saricden</span></header>
      <a href="//github.com/saricden/" target="_blank"><i class="fab fa-github"></i></a>
      <a href="//stackoverflow.com/users/1705378/saricden?tab=profile" target="_blank"><i class="fab fa-stack-overflow"></i></a>
      <a href="//instagram.com/saricden" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="//www.patreon.com/saricden" target="_blank"><i class="fab fa-patreon"></i></a>
      <a href="//linkedin.com/in/saricden/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="" id="mailLink"><i class="fa fa-envelope"></i></a>
    </nav>
    
    <div class="container">

      {{ content }}

    </div>

    <div class="container-overlay"></div>

    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script type="text/javascript" src="/src/js/main.js"></script>
    {% if page.isQuiz %}
      <script src="/src/js/quiz.js"></script>
    {% endif %}
    {% if page.isHome %}
      <script src="/src/js/home2.js"></script>
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120852949-3"></script>
    <script>
      if (document.location.hostname.search("saricden.com") !== -1) {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-120852949-3');
      }
    </script>

  </body>

</html>
