---
layout: wrap
---
<div class="banner">
  <div class="page">
    <header class="home">
      <div class="intro">
        <h1>Open games, made with <big>Love</big>.</h1>
        <p>
          Nintendo games grabbed my heart when I was young and have yet to let go. I began creating Flash games 11 years ago under the pseudonym <em>saricDen</em>. Nowadays I make <a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank">open-source</a> games to be enjoyed and learned from alike.
          <br><br>
          My name is Kirk and making games is my passion.
        </p>
        <ul class="social-links">
          <li><a href="//facebook.com/saricden" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="//twitter.com/saricden" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="//www.twitch.tv/saricden" target="_blank"><i class="fa fa-twitch"></i></a></li>
          <li><a href="//github.com/saricden" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        </ul>
      </div>
      <div class="sprite">
        <img src="/src/img/desk.png" alt="My desk...">
      </div>
    </header>
  </div>
</div>

<div class="page container-fluid">

  <div class="row">

    <div class="col-md-4">
      <div class="col-md-12 panel">
        <h2>Tune in to the fun!</h2>
        <p>Every Tuesday (soon), I do a development live-stream for <a href>LlamaSpace Origins</a> on Twitch.tv!</p>
        <div class="tvbox">
          <a href="http://www.twitch.tv/saricden" target="_blank">
            <div>
              <h3>
                <small><em>Live Dev: LlamaSpace Origins</em> will return in...</small><br>
                <span id="twitch-countdown">(countdown)</span>
              </h3>
            </div>
          </a>
        </div>
        <a href="http://www.twitch.tv/saricden/profile" class="btn btn-block btn-lg btn-default">
          <i class="fa fa-twitch"></i>
          follow on Twitch &raquo;
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-12 panel">
        <h2>The latest and greatest ;)</h2>
        <div class="row">

          <div class="gamebox">
            <a href="http://google.com">
              <img src="http://lorempixel.com/200/200/cats/?dur=99" alt="...">
              <div>
                <h3>LlamaSpace Origins</h3>
                <p>Unweave the mysteries of the Llamadile race. This paragraph should be ~2 lines.</p>
              </div>
            </a>
          </div>

          <div class="gamebox">
            <a href="http://google.com">
              <img src="http://games144.com/public/game/thumb/1304856475-starstream.jpg" alt="...">
              <div>
                <h3>Starstream</h3>
                <p>Jump from star to star in this fast-paced, endless adventure arcade game.</p>
              </div>
            </a>
          </div>

          <div class="gamebox">
            <a href="http://google.com">
              <img src="http://games144.com/public/game/thumb/1327464741-go-go-stop.jpg" alt="...">
              <div>
                <h3>GoGo Stop</h3>
                <p>Bust a move when nobodies looking.</p>
              </div>
            </a>
          </div>

        </div>

        <a href="/games" class="btn btn-block btn-lg btn-default">
          <i class="fa fa-gamepad"></i>
          more games &raquo;
        </a>

      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="col-md-12 panel">
        <h2>Pictures of games!</h2>

        <div class="gallery">
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
        </div>

        <a href="/gallery" class="btn btn-block btn-lg btn-default">
          <i class="fa fa-photo"></i>
          view gallery &raquo;
        </a>

      </div>

    </div>

  </div>

</div>