---
layout: wrap
---
<div class="banner">
  <div class="page">
    <header class="home">
      <div class="intro">
        <h1>Indie games, made with <big>Love</big>.</h1>
        <p>
          Nintendo games grabbed my heart when I was young and haven't yet let go. I began creating my own games 11 years ago under the pseudonym <em>saricDen</em> and I'll only stop when my fingers are too buggered to write code.
          <br><br>
          My name is Kirk and this is my passion.
        </p>
      </div>
      <div class="sprite">
        <img src="/src/img/desk.png" alt="My desk...">
      </div>
    </header>
  </div>
</div>

<div class="page container-fluid">

  <div class="row">

    <div class="col-md-4">
      <div class="col-md-12 panel">
        <h2>The latest and greatest ;)</h2>
        <div class="row">

          <div class="gamebox">
            <a href="http://google.com">
              <img src="http://lorempixel.com/200/200/cats/?dur=99" alt="...">
              <div>
                <h3>Ghettospace Origins</h3>
                <p>Unweave the mysteries of the Llamadile race. This paragraph should be ~2 lines.</p>
              </div>
            </a>
          </div>

          <div class="gamebox">
            <a href="http://google.com">
              <img src="http://games144.com/public/game/thumb/1304856475-starstream.jpg" alt="...">
              <div>
                <h3>Starstream</h3>
                <p>Jump from star to star in this fast-paced, endless adventure arcade game.</p>
              </div>
            </a>
          </div>

          <div class="gamebox">
            <a href="http://google.com">
              <img src="http://games144.com/public/game/thumb/1327464741-go-go-stop.jpg" alt="...">
              <div>
                <h3>GoGo Stop</h3>
                <p>Bust a move when nobodies looking.</p>
              </div>
            </a>
          </div>

        </div>

        <a href="/games" class="btn btn-block btn-lg btn-default">
          <i class="fa fa-gamepad"></i>
          more games &raquo;
        </a>

      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-12 panel">
        <h2>Pictures of games!</h2>

        <div class="gallery">
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
          <a href class="gallery-item">
            <img src="http://lorempixel.com/200/200/cats/?dur=1">
          </a>
        </div>

        <a href="/gallery" class="btn btn-block btn-lg btn-default">
          <i class="fa fa-photo"></i>
          view gallery &raquo;
        </a>

      </div>

    </div>

    <div class="col-md-4">
      <div class="col-md-12 panel">
        <h2>From the blog...</h2>

        <a href="" class="blog-link">
          <h3>
           <script type="text/javascript">
            document.write(tumblr_api_read.posts[0]["regular-title"]);
           </script>
          </h3>
        </a>

        <a href="/gallery" class="btn btn-block btn-lg btn-default">
          <i class="fa fa-bus"></i>
          more adventures &raquo;
        </a>

      </div>
    </div>

  </div>

</div>