---
layout: default
---
{% assign titleWords = page.title | split: " " %}
{% assign firstWordLetters = titleWords[0] | split: "" %}
{% assign titleRemainder = page.title | replace: titleWords[0], "" %}

<header class="page">
  <div>
    <h1>
      <a href="/blog/">
        <span class="primary stretch">
          {% for letter in firstWordLetters %}
            <span>{{ letter }}</span>
          {% endfor %}
        </span>
        <span class="secondary">{{ titleRemainder }}</span>
      </a>
    </h1>
  </div>
</header>

<div class="contentbox">
  <main class="primary">
    <article class="content">
      <header class="post">
        <i class="{{ page.icon }}"></i>
        <time datetime="{{ page.date }}">Posted on {{ page.date | date: '%B %d, %Y' }}</time>
        {% for tag in page.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </header>
      <hr class="skinny" />
      {{ content }}
    </article>
  </main>
</div>