html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #2D60B4;
  color: #F7F5FB;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}


/* Navigation */
.nav-primary {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.nav-primary__logo {
  margin-right: auto;
}

.nav-primary__handle {
  padding: 0.5rem;
  border: solid 2px #F7F5FB;
  border-radius: 0.75rem;
}

.nav-primary__social-link {
  width: 3rem;
  height: auto;
  margin-right: 2rem;
}

.nav-primary__social-link:last-of-type {
  margin-right: 0;
}

/* Footer nav */
.nav-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  /* background-color: #EAC435;
  color: #121113; */
}

.nav-footer__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-footer__icon {
  width: 2.5rem;
  height: auto;
  margin-bottom: 0.5rem;
}

.nav-footer__label {
  font-size: 1.4rem;
}

/* Content body */
.content-body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Big Avatar */
.avatar-big {
  width: 15rem;
  height: auto;
  margin-top: auto;
}

/* Home page */
.dynamic-heading {
  text-align: center;
  font-size: 2.4rem;
  margin-top: auto;
  margin-bottom: -20rem;
}

.dynamic-heading__roller-container {
  margin: 1rem 0;
  padding: 0;
  height: 50px; /* look into a better way of doing this */
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
}

.dynamic-heading__roller {
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateY(0);

  transition: transform 0.75s;
}

.dynamic-heading__roll-item {
  line-height: 50px;
  padding: 0 1rem;
  box-sizing: border-box;
}